/* This is the general background */
.banner-background {
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 10;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/* This represents the title in the header banner */
.header-title {
    margin-left: 20px;
    height: 100%;
    /* background-color: purple; */
    text-align:center;
    display:table;
    float: left;
}

.header-title h1 {
    vertical-align:middle;
    display:table-cell;
    color: white;
    user-select: none;
}


/* */
.categories {
    float: left;
}

.category-titles {
    text-align: justify;
    color: white;
    display:table-row;
    
}

.category-titles p {
    color: rgb(225,225,225);
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.category-titles p:hover {
    color: rgb(250,250,250);
}


/* This represents the profile button on the banner */
.profile {
    float: right;
    width: 100px;
    height: 100%;
    margin-right: 0px;
}