@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.rubikf {
    font-family: 'Rubik', sans-serif;
}


.rubikBF {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.rubikSBF {
    font-family: 'Rubik';
    font-weight: 600;
}

.latoSB {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.robotoSB {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.robotoSBI {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.fancyB {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.writing {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
}